body {
    width: 1024px;
    margin: 0 auto;
    background-color:#2b2727;
    font-family: "Londrina Solid", serif;
}

h1 {
    margin: 20px 0 10px 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #fff;
}

#platformer {
    width: 800px;
    margin: 50px auto;
}

#platformer-instructions {
    width: 100%;
    margin: 0 auto;
}

#platformer-instructions h2 {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}